iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  color: white;
}

tr {
  background-color: #bbd3fa;
}

thead tr {
  background-color: #0e3a80;
}

tr:nth-child(even) {
  background-color: #7ea6e6;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

input {
  margin: 16px 16px 16px 0;
  width: 300px;
  padding: 8px;
}

select {
  width: 150px;
  padding: 8px;
}
